# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements
.venv/
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/

# Données lourdes ou sensibles
*.csv
*.xlsx
*.xls
*.pkl
*.pickle
*.joblib
*.npy
*.npz

# Modèles / résultats
models/
checkpoints/
outputs/
results/
*.h5
*.pt
*.pth
*.onnx

# Système
.DS_Store
Thumbs.db

# VS Code
.vscode/